* {
    box-sizing: border-box;
}

body {
    height: 100hv;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, button {
    text-transform: uppercase;
}

header {
    font-size: 10vmin;
    color:rgb(3, 126, 112);
    letter-spacing: 2vmin;
    font-family: "Audiowide", sans-serif;
    margin-top: 7vmin;
}

#message {
    font-size: 4vmin;
    margin-bottom: 5vmin;
    text-transform: uppercase;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: -3vmin;
    margin-bottom: 4vmin;
}

#board > div {
    border-radius: 10%;
    border: 0.6vmin solid rgb(3, 126, 112);
    display: grid;
    font-size: 7vmin;
    text-align: center;
}

button {
    margin-top: 4 vmin;
    padding: 3vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.5vmin solid rgb(246, 207, 147);
    color: rgb(3, 126, 112);
    background-color: white;
}

button:hover {
    color:rgb(3, 126, 112);
    background-color: rgb(246, 207, 147);
}
